.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.eminem{
  width: 100%;
  max-width: 1080px;
  height:auto;
  transform: scale(1.5);
  bottom:10%;
  position: absolute;
}

@font-face {
  font-family: 'SlimShady';
  src: url('./fonts/noctra-drip.solidmelt-solidmelt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.layer1{
  border: 10px solid rgb(0, 4, 255);
}

.AlbumName{
  font-family: 'SlimShady', sans-serif;
  font-size: 6rem;
  color: rgb(0, 0, 0);
  
}

.layer2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  border: 10px solid red;
  gap: 30vw;
}

.albumCover{
  display: inline-block;
  transition: transform 0.08s ease;

  border: 10px solid red; 
}
.albumCover:hover{
  transform:rotate(-4deg);
}

.merchShirt{
  display: inline-block;
  transition: transform 0.08s ease;
  border: 10px solid red;
}
.merchShirt:hover{
  transform:rotate(4deg);
}

.layer3{
  border: 10px solid rgb(0, 55, 255);
}
